<!-- 省市县模态对话框 -->
<div id="myAddressModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    地址信息
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="widget-main padding-8">
                    <div id="city_1">
                        <select class="prov"></select>
                        <select class="city" disabled="disabled"></select>
                        <select class="dist" disabled="disabled"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <button id="change_address" class="btn btn-sm btn-primary" data-dismiss="modal">
                    <i class="ace-icon fa fa-check"></i>
                    确定
                </button>
                <button class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>