{% extends "base/base.html" %}

{% block page-content %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <!-- #section:pages/error -->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125">
                            <i class="ace-icon fa fa-info-circle"></i>
                            404
                        </span>
                        网页找不到
                    </h1>

                    <hr/>
                    <h3 class="lighter smaller">我们到处找，但我们无法找到它！</h3>

                    <div>
                        <form class="form-search">
                            <span class="input-icon align-middle">
                                <i class="ace-icon fa fa-search"></i>

                                <input type="text" class="search-query"
                                       placeholder="给它一个搜索..."/>
                            </span>
                            <button class="btn btn-sm" type="button">前往!</button>
                        </form>

                        <div class="space"></div>
                        <h4 class="smaller">请尝试以下方法:</h4>

                        <ul class="list-unstyled spaced inline bigger-110 margin-15">
                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                再次检查访问地址(URL)的拼写错误
                            </li>

                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                阅读常见问题解答
                            </li>

                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                告诉我们
                            </li>
                        </ul>
                    </div>

                    <hr/>
                    <div class="space"></div>

                    <div class="center">
                        <a href="javascript:history.back()" class="btn btn-grey">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            返回
                        </a>

                        <a href="{% url 'home_page:index' %}" class="btn btn-primary">
                            <i class="ace-icon fa fa-tachometer"></i>
                            我的主页
                        </a>
                    </div>
                </div>
            </div>

            <!-- /section:pages/error -->

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"
            homePageUrl="/" homePageName="回到我的主页"></script>
{% endblock %}