{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">主体信息</a>
    </li>
    <li class="active">客户信息</li>
{% endblock %}

{% block page_content %}
<div class="page-content">

	<div class="page-header">
		<h1>
			服务内容
		</h1>
	</div>

	<div class="col-xs-12">
		<form class="form-horizontal" role="form" action="{% url 'add_app_service' %}" method="post">
			<input hidden="hidden" type="text" id="id" name="id" value="{{edit_map.id}}"/>
			<input hidden="hidden" type="text" id="customer_id" name="customer_id" value="{{customer_id}}"/>
			<input hidden="hidden" type="text" id="service_content" name="service_content" value="{{edit_map.service_content}}"/>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="id_type">
					客户名称
				</label>

				<div class="col-sm-9">
					<select name="customer_id" id="customer_id" class="col-xs-10 col-sm-5">
						<option value="{{edit_map.customer_id_id}}" selected="selected">{{edit_map.customer_name}}</option>
						{% for one in customer_name_select %}
							<option value="{{one.id}}">{{one.unit_name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="space-4"></div>
			
			<div class="row">
				{% for one in ret_list %}
					<div class="col-xs-12 col-sm-2">
						<div class="control-group">
							<label class="control-label bolder blue">
							<input id="{{one.key}}" value="{{one.key}}" type="checkbox" class="ace" onclick="checkedAll('{{one.key}}')" />
									<span class="lbl">{{one.value}}</span>
							</label>
							{% for i in one.child %}
								<div class="checkbox">
									<label>
										<input name="{{one.key}}" value="{{i.key}}" type="checkbox"
										{% if i.key in edit_map.service_content %} checked="checked" {% endif %} 
										 class="ace" onclick="checkedParent('{{one.key}}', {{one.length}})"/>
										<span class="lbl">{{i.value}}</span>
									</label>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}		
			</div><!-- /row -->

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="submit">
						<i class="icon-ok bigger-110"></i>
						保存
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset" onclick="javascript:history.back()">
						<i class="icon-undo bigger-110"></i>
						取消
					</button>
				</div>
			</div>			
		</form>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
var global_customer_id = ""

	// window.onload=function(){
	// 	// data = $("#service_content").val()
	// 	alert($("#service_content").val());
	// 	for(var i = 0, i < $("#service_content").val().length, i++){
	// 		// $("[value="+ i +"]:checkbox").attr("checked", this.checked);
	// 		alert("11")
	// 	}
	// }

	function checkedAll(index) {
		$("input[type=checkbox][name="+index+"]").each(function(){
			$(this).prop("checked", $("#"+index).prop("checked"));
		});
	}

	//子节点全部选中时，父节点自动选中
	function checkedParent(index,max) {
		var content_checked = 0;
		$("input[type=checkbox][name="+index+"]").each(function(){
			if($(this).prop("checked")){
				content_checked ++;
			}
		});
		if(content_checked == max) {
			$("#"+index).prop("checked", true);
		} else {
			$("#"+index).prop("checked", false);
		}
	}

	// function save() {
	//     var data = new Object()
	//     var myArray = new Array()
	// 	data["id"] = $("#id").val()
	// 	data["customer_id"] = $("#customer_id").val()
	// 	$("input:checkbox:checked").each(function(index,element){
	// 		alert(element.value)
	// 		myArray[index] = element.value
	// 	});
	// 	data["service"]

	// 	$.ajax({
	// 	   type : "POST",
	// 	   url : "/add_app_service/",
	// 	   data : data,
	// 	   dataType : 'json',
	// 	   success : function(jsons) {
	// 	       if(jsons.code == "0"){
	// 	       		location.href = "/app_service_list?customer_id=" + jsons.customer_id
	// 	       } else {
	// 	       	global_customer_id = jsons.customer_id
	// 	       	alert(jsons.msg);
	// 	       }
	// 	   },
	// 	   error : function() {
	// 		  return;
	// 	   }
	// 	});
	// }
</script>
{% endblock %}