{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">主体信息</a>
    </li>
    <li class="active">客户信息</li>
{% endblock %}

{% block page_content %}

<div class="col-sm-12">
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="smaller">控制台</h4>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				单位名称: &nbsp;
				<input type="text" name="unit_name" id="unit_name" value="{{unit_name}}">

				&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-info btn-sm" id="gritter-center" 
					onclick="_query()">
					查询
				</button>
				&nbsp;&nbsp;
				<button class="btn btn-info btn-sm" id="gritter-center" 
					onclick="window.location.href='{% url "add_customer_info" %}'">
					新增
				</button>
			</div>
		</div>
	</div>
</div>


<div>
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th class="center">序号</th>
				<th class="center">客户编号</th>
                <th class="center">单位名称</th>
                <th class="center">单位属性</th>
                <th class="center">注册时间</th>
                <th class="center">应用服务</th>
                <th class="center">上报状态</th>
                <th class="center">上报时间</th>
                <th class="center">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for one in page_obj.object_list %}
	    		<tr class="center">
	                <td>{{ forloop.counter }} </td>
	                <td>{{ one.customer_id }}</td>
	                <td>{{ one.unit_name }}</td>
	                <td>{{ one.unit_nature }}</td>
	                <td>{{ one.register_time }}</td>
	                <td>
	                	<a href="/app_service_list?customer_id= + {{one.id}}">{{ one.app_service | default_if_none:"--" }}</a>
	                </td>
	                <td>{{ one.report_status }}</td>
	                <td>{{ one.report_time | default_if_none:"--" }}</td>
	                <td>
	                	<button class="btn btn-minier btn-info" onclick="edit({{one.id}})">编辑</button>
	                	<button class="btn btn-minier btn-info" onclick="del({{one.id}})">删除</button>
	                	{% ifequal one.report_status '新增未上报' %}
	                		<button class="btn btn-minier btn-info" onclick="report({{one.id}})">上报</button>
	                	{% endifequal %}
	                	{% ifequal one.report_status '更新未上报'%}
	                		<button class="btn btn-minier btn-info" onclick="report({{one.id}})">上报</button>
	                	{% endifequal %}
	                	{% ifequal one.report_status '新增已上报' %}
	                		<button class="btn btn-minier btn-info" onclick="send_post({{one.id}}, '/logout_customer_info/', '/customer_info_list', 'customer')">注销</button>
	                	{% endifequal %}
	                	{% ifequal one.report_status '更新已上报'%}
	                		<button class="btn btn-minier btn-info" onclick="send_post({{one.id}}, '/logout_customer_info/', '/customer_info_list', 'customer')">注销</button>
	                	{% endifequal %}
	                </td>
	        {% empty %}
	            <tr class="info">
	                <td colspan="11">
	                <big>
	                <strong>抱歉，目前没有数据信息。</strong>
	                </big>
	                </td>
	            </tr>
	        {% endfor %}
		</tbody>
		</table>

		{% include  "base/paginator.html" %}
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">

	function _query() {
		var unit_name = $("#unit_name").val()
		location.href = '/customer_info_list/?unit_name=' + unit_name
	}

	function edit(id) {
	    location.href = '/add_customer_info?id=' + id
    }

    function report(id) {
	    var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : "/report_customer_info/",
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		alert(jsons.msg)
		       		location.href = "/customer_info_list"
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }

    function send_post(id, go_url, back_url, flag) {
    	var data = new Object()
		data["id"] = id
		data["flag"] = flag
		$.ajax({
		   type : "POST",
		   url : go_url,
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		alert(jsons.msg)
		       		location.href = back_url
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }

    function del(id) {
	    var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : "/del_customer_info/",
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		location.href = "/customer_info_list"
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }
</script>
{% endblock %}