{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">主体信息</a>
    </li>
    <li class="active">客户信息</li>
{% endblock %}

{% block page_content %}
<div class="page-content">

	<div class="page-header">
		<h1>
			客户信息
		</h1>
	</div>

	<div>
		<div class="col-xs-12">
			<form class="form-horizontal" role="form" action="{% url 'add_customer_info' %}" method="post">
				<div class="space-8"></div>

				<input hidden="hidden" type="text" name="id" value="{{edit_map.id}}"/>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="unit_name">
						单位名称
					</label>

					<div class="col-sm-9">
						<input type="text" name="unit_name" value="{{edit_map.unit_name}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="unit_address">
						单位地址
					</label>

					<div class="col-sm-9">
						<input type="text" name="unit_address" value="{{edit_map.unit_address}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="unit_zipcode">
						单位邮编
					</label>

					<div class="col-sm-9">
						<input type="text" name="unit_zipcode" value="{{edit_map.unit_zipcode}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="unit_nature">
						单位属性
					</label>

					<div class="col-sm-9">
						<select name="unit_nature" id="unit_nature" class="col-xs-10 col-sm-5">
							<option value="{{edit_map.unit_nature}}" selected="selected">{{edit_map.unit_nature_name}}</option>
							{% for one in unit_nature_select %}
								<option value="{{one.key}}">{{one.value}}</option>
							{% endfor %}
						</select>
					</div>
				</div>


				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="id_type">
						证件类型
					</label>

					<div class="col-sm-9">
						<select name="id_type" id="id_type" class="col-xs-10 col-sm-5">
							<option value="{{edit_map.id_type}}" selected="selected">{{edit_map.id_type_name}}</option>
							{% for one in id_type_select %}
								<option value="{{one.key}}">{{one.value}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="id_no">
						证件号码
					</label>

					<div class="col-sm-9">
						<input type="text" name="id_no" value="{{edit_map.id_no}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="network_people">
						网络安全责任人
					</label>

					<div class="col-sm-9">
						<select name="network_people" id="network_people" class="col-xs-10 col-sm-5">
							<option value="{{edit_map.network_people}}" selected="selected">{{edit_map.network_people_name}}</option>
							{% for one in network_people_select %}
								<option value="{{one.id}}">{{one.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="register_time">
						注册时间
					</label>

					<div class="col-sm-9">
						<input type="text" name="register_time" value="{{edit_map.register_time}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="business_unit">
						所属经营者单位
					</label>

					<div class="col-sm-9">
						<select name="business_unit" id="business_unit" class="col-xs-10 col-sm-5">
							<option value="{{edit_map.business_unit}}" selected="selected">{{edit_map.business_unit_name}}</option>
							{% for one in business_unit_select %}
								<option value="{{one.id}}">{{one.unit_name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="space-4"></div>

				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							保存
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset" onclick="javascript:history.back()">
							<i class="icon-undo bigger-110"></i>
							取消
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
{% endblock %}