{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">主体信息</a>
    </li>
    <li class="active">客户信息</li>
{% endblock %}

{% block page_content %}

<div>
	&nbsp;
</div>


<div>
	<div class="col-xs-1">
		<button class="btn btn-primary" id="gritter-center" 
			onclick="window.location.href='{% url "add_customer_info" %}'">
			新增
		</button>
	</div>
</div>

<div>
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th class="center">序号</th>
				<th class="center">ID</th>
                <th class="center">单位名称</th>
                <th class="center">单位邮编</th>
                <th class="center">单位属性</th>
                <th class="center">证件类型</th>
                <th class="center">网络安全负责人</th>
                <th class="center">注册时间</th>
                <th class="center">应用服务</th>
                <th class="center">状态</th>
                <th class="center">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for one in ret_list %}
	    		<tr class="center">
	                <td>{{ forloop.counter }} </td>
	                <td>{{ one.id }}</td>
	                <td>{{ one.unit_name }}</td>
	                <td>{{ one.unit_zipcode }}</td>
	                <td>{{ one.unit_nature }}</td>
	                <td>{{ one.id_type }}</td>
	                <td>{{ one.network_people }}</td>
	                <td>{{ one.register_time }}</td>
	                <td>
	                	<a href="/app_service_list?customer_id= + {{one.id}}">{{ one.app_service | default_if_none:"--" }}</a>
	                </td>
	                <td>{{ one.status }}</td>	
	                <td>
	                	<button class="btn btn-minier btn-info" onclick="edit({{one.id}})">编辑</button>
	                	<button class="btn btn-minier btn-info" onclick="del({{one.id}})">删除</button>
	                </td>
	        {% empty %}
	            <tr class="info">
	                <td colspan="11">
	                <big>
	                <strong>抱歉，目前没有数据信息。</strong>
	                </big>
	                </td>
	            </tr>
	        {% endfor %}
		</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
	function edit(id) {
	    location.href = '/add_customer_info?id=' + id
    }

    function del(id) {
	    var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : "/del_customer_info/",
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		location.href = "/customer_info_list"
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }
</script>
{% endblock %}