{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">资源信息</a>
    </li>
    <li class="active">客户应用服务</li>
{% endblock %}

{% block page_content %}
<div class="page-content">

	<div class="page-header">
		<h1>
			域名信息
		</h1>
	</div>

	<div>
		<div class="col-xs-12">
			<form class="form-horizontal" role="form" action="{% url 'add_domain_info' %}" method="post">
				<div class="space-8"></div>
				<input hidden="hidden" type="text" name="id" value="{{edit_map.id}}"/>

				<div class="space-4"></div>

				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="service_id">
						服务编号
					</label>

					<div class="col-sm-9">
						<input type="text" name="service_id" value="{{edit_map.service_id}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="domain">
						域名
					</label>

					<div class="col-sm-9">
						<input type="text" name="domain" value="{{edit_map.domain}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="source_address">
						源站地址
					</label>

					<div class="col-sm-9">
						<input type="text" name="source_address" value="{{edit_map.source_address}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="record_num">
						备案号或许可证号
					</label>

					<div class="col-sm-9">
						<input type="text" name="record_num" value="{{edit_map.record_num}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="top_domain">
						顶级域名
					</label>

					<div class="col-sm-9">
						<input type="text" name="top_domain" value="{{edit_map.top_domain}}" placeholder="" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				
				<div class="space-4"></div>
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							保存
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset" onclick="javascript:history.back()">
							<i class="icon-undo bigger-110"></i>
							取消
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
{% endblock %}