{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">主体信息</a>
    </li>
    <li class="active">经营者单位</li> 
{% endblock %}

{% block page_content %}

<div class="col-sm-12">
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="smaller">控制台</h4>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				单位名称: &nbsp;
				<input type="text" name="unit_name" id="unit_name" value="{{unit_name}}">

				&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-info btn-sm" id="gritter-center" 
					onclick="_query()">
					查询
				</button>
				&nbsp;&nbsp;
				<button class="btn btn-info btn-sm" id="gritter-center" 
					onclick="window.location.href='{% url "add_business_unit" %}'">
					新增
				</button>
			</div>
		</div>
	</div>
</div>





<div>
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th class="center">序号</th>
				<th class="center">IDC/ISP许可证</th>
                <th class="center">单位名称</th>
                <th class="center">单位地址</th>
                <th class="center">单位邮编</th>
                <th class="center">企业法人</th>
                <th class="center">网络安全责任人</th>
                <th class="center">应急联系人</th>
                <th class="center">状态</th>
                <th class="center">上报时间</th>
                <th class="center">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for one in page_obj.object_list %}
	    		<tr class="center">
	                <td>{{ forloop.counter }} </td>
	                <td>{{ one.unit_licence }}</td>
	                <td>{{ one.unit_name }}</td>
	                <td>{{ one.unit_addr }}</td>
	                <td>{{ one.unit_zipcode }}</td>
	                <td>{{ one.unit_faren }}</td>
	                <td>{{ one.netinfo_people }}</td>
	                <td>{{ one.emergency_people }}</td>
	                <td>{{ one.status | default_if_none:"--" }}</td>
	                <td>{{ one.time | default_if_none:"--" }}</td>
	                <td>
	                	<button class="btn btn-minier btn-info" onclick="edit({{one.id}})">编辑</button>
	                	<button class="btn btn-minier btn-info" onclick="del({{one.id}})">删除</button>
	                	{% ifequal one.status '新增未上报' %}
	                		<button class="btn btn-minier btn-info" onclick="report({{one.id}})">上报</button>
	                	{% endifequal %}
	                	{% ifequal one.status '更新未上报'%}
	                		<button class="btn btn-minier btn-info" onclick="report({{one.id}})">上报</button>
	                	{% endifequal %}
	                	{% ifequal one.status '新增已上报' %}
	                		<button class="btn btn-minier btn-info" onclick="_post({{one.id}}, '/logout_business_unit/', '/business_unit_list')">注销</button>
	                	{% endifequal %}
	                	{% ifequal one.status '更新已上报'%}
	                		<button class="btn btn-minier btn-info" onclick="_post({{one.id}}, '/logout_business_unit/', '/business_unit_list')">注销</button>
	                	{% endifequal %}
	                </td>
	        {% empty %}
	            <tr class="info">
	                <td colspan="11">
	                <big>
	                <strong>抱歉，目前没有数据信息。</strong>
	                </big>
	                </td>
	            </tr>
	        {% endfor %}
		</tbody>
		</table>

		{% include  "base/paginator.html" %}
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
	function _query() {
		var unit_name = $("#unit_name").val()
		location.href = '/business_unit_list/?unit_name=' + unit_name
	}

	function edit(id) {
	    location.href = '/add_business_unit?id=' + id
    }


    function _post(id, go_url, back_url) {
    	var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : go_url,
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		alert(jsons.msg)
		       		location.href = back_url
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }

    function report(id) {
	    var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : "/report_business_unit/",
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		alert(jsons.msg)
		       		location.href = "/business_unit_list"
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }

    function del(id) {
	    var data = new Object()
		data["id"] = id
		$.ajax({
		   type : "POST",
		   url : "/del_business_unit/",
		   data : data,
		   dataType : 'json',
		   success : function(jsons) {
		       if(jsons.code == "0"){
		       		location.href = "/business_unit_list"
		       } else {
		       	alert(jsons.msg);
		       }
		   },
		   error : function() {
			  return;
		   }
		});
    }
</script>
{% endblock %}